.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#levels {
  width: fit-content;
}

.difficulty-selection {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.difficulty-buttons {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
